:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(245, 247, 249);
  margin: 0;
  overflow: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.board-card {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4) 0 100%),
    url(/gradient-bg3.jpg);
  background-size: 160%;
  background-position: 0% 25%;
}
